@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    outline:none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing:antialiased;
} 

::-webkit-scrollbar{
    width: 10px;
} 

::-webkit-scrollbar-track {
    background: #f1f1f1;
} 

::-webkit-scrollbar-thumb{
    background: #888;
} 

::-webkit-scrollbar-thumb:hover{
    background: #555;
} 


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, rgba(255,255,255,0.72) 0%, rgba(255,255,255,0.45) 100%), url("https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64f5d2afe891729706546fa7_Rectangle%20(81).svg");
    background-size: cover; 
    background-position: center;
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 2em; 
}  

 @media screen and (max-width: 480px){
    body {
        padding: 0.8 em;
    }
} 

main {
    max-width: 1250px;
    background-color: rgb (255 255 255 / 31%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-weight: 500;
    padding: 1rem 1rem 2rem 1rem;
    overflow: auto;
} 

main::-webkit-scrollbar{
    display: none;
} 

.navBar{
  display: flex;
  align-items: center;
  position : sticky;
  top: 0;
  background-color: rgb(255 255 255 / 31%);
  justify-content: space-between;
  width: 100%;
  border-bottom: 1.5px solid rgb(255 255 255 / 35%);
} 

.navBar > h1, .navBar > .navBarMenu {
    margin: 10px;
} 

.navBarMenu > a {
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    color: black;
} 

.navBarMenu > a:hover {
    transition: ease-in-out 300ms;
    background-color: white;
} 

@media only screen and (max-width: 760px) {
    .navBarMenu{
        display: none;
    }
}

.topsection {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
} 

.backimage{
    width: 300px;
    height:300px;
    border-radius:2px ;
    object-fit: cover;
    object-position: center;
} 

.topdetails{
    text-align: center;
} 

.topdetails > h1 {
    font-size: 50px;
    margin: 10px;
} 

.aboutme {
    margin: 1rem;
    text-align: center;
}  
  
@media only screen and (max-width: 720px){
    .skills{
        grid-template-columns: [one] 100%;
        grid-template-rows: [one] [two];
    }
}

.skills , .projects , .experience {
    background-color: rgb(255 255 255 / 31%);
    margin: 1rem;
    border: 1px solid rgb(255 255 255 / 31%);
    border-radius: 5px;
    padding: 1rem;
}
.skills{
    text-align : center;
}
.skills  .img-container {
    max-width: 100px;
    height: 100px;  
    margin: 1rem;
}
.img-container  img{
    height : 100%;
    width : 100%;
    object-fit : contain;
    transition: all 0.2s ease-in  ;
}

.img-container > img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.career{
    display : flex;
    justify-content: center;
}

.projects, .experience{
    flex: 1;
}
.projects > .projectspace > h4 {
   margin: 0;

}

.projects > .projectspace > p{
   margin:0;
   margin-bottom: 1rem;
}

.contactform{
    margin: 1rem;
    width: 100%;
    background-color: rgb(255 255 255 / 31%);
    border: 1px solid rgb(255 255 255 / 31%);
    border-radius: 5px;
    padding: 1rem;
}
.skillspace{
    display: flex;
    flex-wrap: wrap;
    justify-content : center
}

.contactform > .form1 {
    margin-bottom: 1rem;
}

.form1 > .input, .form1 > textarea {
    width: 80%;
    padding: 5px 10px;
    margin-top: 5px;
    font-weight: 600;
}

.submitbutton {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
}

@media only screen and (max-width: 460px){
    .backimage{
        width: 250px;
        height: 250px;
    }

    .topdetails > h1{
        font-size: 30px;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }

    .topdetails > h1 {
        font-size: 20px;
        margin: 0;
        font-weight: 400;
    }
}